In [12]:
a = {'姓名':'賴宏瑋','性別':"男",'作業分數':[95,100,90]}
b = {'學號':'M1129020'}
c = {**a,**b}
import copy
d = copy.deepcopy(c)
c['作業分數'][1] = 80
d['姓名'] = '許珈綺'
d['性別'] = '女'
d['學號'] = 'M1229001'
e = c.pop('作業分數')
f = list(e)
print((f[0]+f[1]+f[2])/3)
print(c)
g = d.pop('作業分數')
h = list(g)
print((h[0]+h[1]+h[2])/3)
print(d)

88.33333333333333
{'姓名': '賴宏瑋', '性別': '男', '學號': 'M1129020'}
95.0
{'姓名': '許珈綺', '性別': '女', '學號': 'M1229001'}

In [25]:
a = [100,50,45,60,90,95,80,50]
a.insert(0,88)
a[2:5] = 70,50

a.remove(50)
b = a.pop(0)
c = a.pop()

print(b+c)

138

In [29]:
a = 347//3
b = 347%3
print(a)
print(b)
c = a**b
print(c)

115
2
13225